@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0B0612;
    color: #F2E9FF;
    margin: 0;
}

body h2 {
    font-family: "Pixelify Sans";
    font-size: xx-large;
}

img {
    max-width: 350px;
    margin: 0 auto;
}

header {
    background-color: #100817;
    color: #F2E9FF;
    padding: 20px;
    border-bottom: 3px solid #6A1B9A;
    text-align: center;
}

header p {
    font-family: "Pixelify Sans";
    font-size: 50px;
}

nav {
    padding: 10px 20px;
    background-color: #080808;
    font-family: "Pixelify Sans";
    text-align: center;
    font-size: xx-large;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: #A020F0;
    padding: 6px 10px;
    border-radius: 4px;
}

nav a:hover {
    background-color: #A020F0;
    color: #FFFFFF;
}

section h2 {
    border-left: 5px solid #00E5FF;
    padding-left: 10px;
}

main {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
}

video {
    max-width: 100%;
    border-radius: 6px;
    border: 2px solid #6A1B9A;
}

footer {
    background-color: #0A0710;
    text-align: center;
    padding: 5px 200px;
    color: #F2E9FF;
    border-top: 2px solid #6A1B9A;
}

footer p {
    color: #F2E9FF;
    font-weight: bold;
}

/* CSS de Planos */


.tabela-edicoes {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    background-color: #100414;
    color: #f4f4f4;
    border: 2px solid #7a2cff;

}

.tabela-edicoes thead th {
    background-color: #202020;
    color: #00e5ff;
    border-bottom: 2px solid #00e5ff;
}

.tabela-edicoes caption {
    caption-side: top;
    text-align: left;
    font-weight: bold;
    margin-bottom: 15px;
    color: #00e5ff;
    font-size: 1.2rem;
}

.tabela-edicoes th,
.tabela-edicoes td {
    border: 1px solid #4b247a;
    padding: 12px;
    text-align: center;
}

.tabela-edicoes tbody tr {
    background-color: #16091c;
}

.tabela-edicoes tbody tr:hover {
    background-color: #24102d;

}

.tabela-edicoes th[scope="row"] {
    text-align: left;
    background-color: #1d0b24;
    color: #c77dff;
}

.disponivel {
    color: #00ff88;
    font-weight: bold;
}

/* CSS de Contato */

/* flex-direction */
/* display */



.campo {
    margin: 20px auto;
}

.campo div label {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 40%;
}

.campo fieldset {
    width: 35%;
}

.campo fieldset label {
    display: block;
}

.botao {
    background-color: #c77dff;
    border-radius: 4px;
    font-size: large;
    padding: 10px;

    &:hover {
        background-color: #A020F0;
        color: #FFFFFF;
    }

}

