/* body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: #000;
    margin: 0;
}

body h2 {
    font-family: "Pixelify Sans";
    font-size: xx-large;
}

header{
    background-color: #4169e1;
    color: #54bbb5;
    padding: 25px;
    text-align: center;
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom: 10px solid #2b4bda;
}

nav {
    padding: 1px 20px;
    background-color: #2b4bda;
    text-align: center;
    font-size: x-large;
}

nav li{
    display: inline-block;
} */